/* 
TODO: Add styles to match the layout in the image.
Note: you should only need to use flexbox properties and margin/padding to create the layout.
*/

header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

/* 
Challenge: Use flexbox in media queries to create a responsive layout 
*/


